html {
  background: var(--background);
  color: var(--foreground);
}

html.dark {
  --card: #262626;
  --ring: #f59e0b;
  --input: #404040;
  --muted: #262626;
  --accent: #92400e;
  --border: #404040;
  --radius: 0.375rem;

  --chart-1: #fbbf24;
  --chart-2: #d97706;
  --chart-3: #92400e;

  --popover: #262626;
  --primary: #f59e0b;
  --background: #171717;
  --foreground: #e5e5e5;

  --muted-foreground: #a3a3a3;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}